extends layout

block content
    #page
        #main
            include button-bar
            #feature
        #footer
            .copyright &copy;2014 Baidu
                a.copyright-link(href="http://www.baidu.com/duty/index.html" target="_blank") 使用百度前必读
    #form-wrap
        include login-form
