doctype html
//[if IE 6]><html class="ie6"><![endif]
//[if IE 7]><html class="ie7"><![endif]
//[if IE 8]><html class="ie8"><![endif]
// [if gt IE 8] <!
html
    // <![endif]
    head
        meta(charset="utf-8")
        title 百度广告管家
        link(rel="stylesheet" href="./src/static/css/index.css")
        script(src="./src/common/esl.js")
    body
        block content

        script.
            require.config({
                'baseUrl': './src',
                'packages': [
                    {
                        'name': 'jquery',
                        'location': '../dep/jquery/1.9.1/src',
                        'main': 'jquery.min.js'
                    }
                ]
            });

            require(['static/main'], function(main) {
                main.init();
            });

