/** 通用 */
html body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

h2 {
    border-bottom: 1px solid #e8e8e8;
    padding: 50px 0 20px;
    font-size: 14px;
    font-weight: bold;
}

.header-content, .footer-content, .activate, .verify, .register {
    width: 960px;
    margin: 0 auto;
}

.form {
    margin: 60px 0 0 280px;
}

.form .captcha-code {
    vertical-align: middle;
    width: 40px;
    height: 25px;
    margin-left: 5px;
}
.form .captcha-refresh-button {
    color: #3366cc;
    margin-left: 10px;
}

.submit {
    border: 0px;
    height: 30px;
    background: url(../img/static-button-bg.png) repeat-x;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 2px;
}

.protocol {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
}

.message-wrapper {
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
    color: #999999;
}

.message-wrapper div {
    height: 30px;
}

.message-wrapper span {
    font-weight: bold;
    color: #555555;
}

.message-heading {
    font-weight: bold;
    padding-left: 20px;
    display: inline-block;
}

.message-success {
    background: url(../img/message-success.png) no-repeat;
    color: #62b041;
}

.message-warning {
    background: url(../img/message-warning.png) no-repeat;
    color: #ffa901;
}

.message-button {
    border: 0px;
    width: 83px;
    height: 30px;
    background: url(../img/message-button.png) no-repeat;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
}

.register, .verify, .message {
    height: 400px;
}

/** 控件验证提示信息 */
.ui-textbox-validity-label-info {
   color: #999999; 
}

/** esui.css patch */

.ui-boxgroup-horizontal label {
    margin-right: 35px;
}

.ui-textbox input:focus {
    border: 1px solid #d6cda7;
    background: #fff5d9;
}

/** header */
.header {
    width: 100%;
    height: 70px;
    background: url(../img/static-header-bg.png) repeat-x;
}

.header-content {
    position: relative;
}

.header-logo {
    margin-top: 4px;
    width: 121px;
    height: 60px;
    background: url(../img/static-logo.png) no-repeat;
}

.header-nav {
    position: absolute;
    top: 29px;
    right: 0;
}

.header-nav li {
    display: inline-block;
    background: url(../img/static-header-nav-bg.png) no-repeat 0 5px;
    padding-left: 8px;
    margin-right: 23px;
}

.header-nav li a {
    color: #686868;
}

/** footer */
.footer {
    height: 182px;
    background: url(../img/static-footer-bg.png) repeat-x;
    margin-top: 80px;
    border: 1px solid #d5dde2;
}

.footer-content {
    position: relative;
    padding-top: 40px;
}

.footer-follow {
    position: absolute;
    right: 0;
}

.footer-follow a {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.footer-follow a.sina {
    background: url(../img/weibo-sina.png) no-repeat;
}

.footer-follow a.tencent {
    background: url(../img/weibo-tencent.png) no-repeat;
}

.footer-follow-text {
    position: absolute;
    left: 55px;
    bottom: 8px;
    width: 49px;
}

.footer-links ul {
    height: 28px;
    display: inline-block;
    margin: 4px auto;
}

.footer-links ul li {
    display: inline-block;
}

.footer-links ul li a {
    color: #666666;
    text-decoration: none;
    padding-left: 14px;
    width: 130px;
    display: inline-block;
}

.footer-copyright {
    text-align: center;
    color: #666666;
    margin-top: 32px;
}

.footer-copyright span {
    color: #4b81c2;
}

.footer-copyright a {
    color: #666666;
}

/** 激活页面 */
.activate {
    margin-top: 85px;
    font-size: 14px;
}

.activate-welcome {
    padding-left: 290px;
}

.activate-welcome p {
    margin-top: -16px;
    color: #333333;
}

.activate-intro {
    margin-top: 35px;
    color: #666666;
    padding-bottom: 60px;
    border-bottom: 1px dotted;
    padding-left: 190px;
}

.activate-intro p {
    line-height: 6px;
    padding-left: 100px;
}

.activate-form {
    width: 40%;
    margin-top: 40px;
    padding-left: 390px;
}

.activate-submit {
    border: 0px;
    height: 30px;
    width: 116px;
    background: url(../img/static-button-bg.png) repeat-x;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.activate-back {
    color: #3366cc;
    margin-left: 20px;
    text-decoration: none;
}

/** 注册页面 */

.register .addition {
    border-top: 1px dotted #e0e0e0;
    margin-top: 60px;
    padding-top: 40px;
}

.register .addition-heading {
    font-weight: bold;
}

.register .addition a {
    color: #3366cc;
    text-decoration: underline;
}

.dialog-modify-email {
    padding-top: 5px;
    color: #666666;
}

.dialog-modify-email div {
    height: 30px;
}

.dialog-modify-email label {
    margin-right: 10px;
    color: #333333;
    margin-right: 50px;
}

.dialog-modify-email-new, .dialog-modify-email-new div {
    height: auto !important;
}

.dialog-modify-email-new-label{
    vertical-align: top;
    margin-top: 6px;
    display: inline-block;
}

.dialog-modify-email-new .ui-textbox-validity-label-invalid {
    display: block;
    margin-top: 6px;
    padding-left: 0px;
    color: #cc0000;
}

/** 二级管理员注册、激活 */
.verify-new .submit {
    width: 131px;
}

.verify-already .submit {
    width: 40px;
}

.verify-already #confirm-password-wrapper {
    display: none;
}

.verify-already .protocol {
    display: none;
}

