html, body { height: 100%; /* The html and body elements cannot have any padding or margin. */ }
/* Wrapper for page content to push down footer */
#wrap { min-height: 100%; height: auto !important; height: 100%; /* Negative indent footer by it's height */ margin: 0 auto -60px; }
/* Set the fixed height of the footer here */
#push, #footer { height: 60px; }
#push-head { height: 45px; }
#footer { background-color: #EBEBEB; }
#footer .credit { margin-top: 15px; }
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer { margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; }
}

.icon-weibo { background: url(../img/weibo_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.icon-qq { background: url(../img/qq_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.icon-laiwang { background: url(../img/laiwang_24.jpg) no-repeat 0 0; width: 24px; height: 24px; }
.icon-xiami { background: url(../img/xiami_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.icon-facebook { background: url(../img/facebook_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.icon-twitter { background: url(../img/twitter_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.icon-mail { background: url(../img/mail_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.icon-github { background: url(../img/github_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.icon-rss { background: url(../img/rss_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.icon-favorite { background: url(../img/favorite_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.icon-weixin { background: url(../img/weixin_24.gif) no-repeat 0 0; width: 24px; height: 24px; }
.contact-area { margin-left: 2px; text-decoration: none; cursor: pointer; }
.contact-area:hover{text-decoration: none;}

#comment{left: 0px; top: 115px; position: fixed; height: inherit;overflow: hidden; width: 24px;}
#comment img{float:right;margin-top:58px;cursor: pointer;}
.weibocomment{width: 0px;position: absolute; z-index: 9999; width: 0px; top: 0px; left: 0px;}

#comment:hover{width: 424px;
-webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;}
#comment:hover .weibocomment{width: 400px;display: block;
-webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;}

#scrollTop{position: fixed;bottom: 10px;right:10px;display: block;width: 38px;height: 38px;background:url("../img/top.png") no-repeat 0 0;}
#scrollTop:hover{background-position:0 -38px;}