/* 版权所有：一生一世微喜帖（http://www.xitie.net.cn）*/
html {
  height: 100%;
}
body {
  margin: 0;
  padding:0;
  font-family: 'microsoft yahei',Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  position: relative;
  height: 100%;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #666
}

em,i {
    font-style: normal
}

img {
    border: none;
    vertical-align: middle
}

ol,ul,li,h2{
    list-style: none;
    padding:0px;
    margin:0px;
}

input[type=text],input[type=password],input[type=number],input[type=email],input[type=search],input[type=tel] {
    vertical-align: middle;
    outline: 0;
    -webkit-appearance: none;
    -webkit-user-select: text
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #9e9e9e
}

select {
    outline: 0;
    -webkit-appearance: none
}

textarea {
    font-size: 15px;
    border: 1px solid #d7d7d7;
    outline: 0;
    -webkit-user-select: text
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
* {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.swiper-container {
  width: 100%;
  height: 100%;
  color:#333;
  text-align: center;
  -webkit-box-flex: 100;
}
.first-slide {
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_video_bg.png) no-repeat;
    background-size: 100% 100%;
    position:relative;
}
.second-slide {
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_video_ff.png) center no-repeat;
    background-size: auto 100%;
    position:relative;
}
.third-slide {
    background:url(http://curarchy.github.io/webresources/img/weddingpic/29_bg.jpg) repeat;
    position:relative;
}
.forth-slide {
    background:url(http://curarchy.github.io/webresources/img/weddingpic/29_bg.jpg) repeat;
    position:relative;
}
.fifth-slide {
   /*background:url(http://curarchy.github.io/webresources/img/weddingpic/29_bg.jpg) repeat;*/
   position:relative;
}
.sixth-slide {
   background:url(http://curarchy.github.io/webresources/img/weddingpic/29_bg.jpg) repeat;
   position:relative;
}

.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.pagination {
  position: absolute;
  z-index: 20;
/*  left: 10px;
  bottom: 10px;*/
  right: 10px;
  bottom: 30%;
}
.swiper-pagination-switch {
/*  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;*/
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 0px 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
 }
 /**/
.up-btn, .down-btn {
    position: absolute;
    width: 34px;
    height: 7px;
    left: 50%;
    margin-left: -17px;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
    overflow: hidden;
    text-indent: -9999px;
    -webkit-animation: bounce 1s .2s linear infinite;
    -moz-animation: bounce 1s .2s linear infinite;
    -o-animation: bounce 1s .2s linear infinite;
    -ms-animation: bounce 1s .2s linear infinite;
    animation: bounce 1s .2s linear infinite;
    z-index: 199;
}
@-webkit-keyframes bounce {
    0% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-10px);}
    100% {-webkit-transform: translateY(0);}}
@-zom-keyframes bounce {
    0% {-zom-transform: translateY(0);}
    50% {-zom-transform: translateY(-10px);}
    100% {-zom-transform: translateY(0);}}
@-ms-keyframes bounce {
    0% {-ms-transform: translateY(0);}
    50% {-ms-transform: translateY(-10px);}
    100% {-ms-transform: translateY(0);}}
@-o-keyframes bounce {
    0% {-o-transform: translateY(0);}
    50% {-o-transform: translateY(-10px);}
    100% {-o-transform: translateY(0);}}
@keyframes bounce {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.up-btn {
    top: 4%;
    background-image: url(http://curarchy.github.io/webresources/img/weddingpic/29_arrow.png);
    background-size:34px auto;
    background-position:0 0;
}
.down-btn {
    bottom: 4%;
    background-image: url(http://curarchy.github.io/webresources/img/weddingpic/29_arrow.png);
    background-size:34px auto;
    background-position: 0 -7px
}
.voice label {
    display: block;
    width: 26px;
    height: 26px;
    overflow: hidden;
    position: absolute;
    right:7px;
    top: 40%;
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_music_off.png) center center no-repeat;
    background-size: 22px 22px;
    cursor: pointer;
    -webkit-tap-highlight-color:raba(0,0,0,0);
    z-index:9999999999 !important
}
.voice label.on, .voice label.on {
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_music_on.png) center center no-repeat;
    background-size: 22px 22px;
}
@-webkit-keyframes video_btnPlay {
    0% {-webkit-transform: scale(0.8); opacity: 0.8;}
    100% {-webkit-transform: scale(1.5); opacity: 0;}}

/*first*/
.video{
  width:280px;
  position:absolute;
  top:30%;
  left:50%;
  margin-left:-140px;
}

/*second*/
.m-btnPlay {
    display: block;
    width: 55px;
    height: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -27px;
    z-index: 1;
}
.m-btnPlay i {
    background-image: url("http://curarchy.github.io/webresources/img/weddingpic/29_qred_icon.png");
    background-size:55px auto;
    z-index: 1;

}
.m-btnPlay i, .m-btnPlay div {
    display: block;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.m-btnPlay i, .m-btnPlay div {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.m-btnPlay div {
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
    -webkit-animation: video_btnPlay 1s linear infinite;
    opacity: 0;
}

/*3rd*/
.avatar {
    display: block;
    clear: both;
    width:240px;
    height: 236px;
    margin: 40px auto 0px auto;
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_tx_bor2.png) 50% 50% no-repeat;
    background-size: 240px auto;
    padding-top:20px;
}
/*.tx{
    display: block;
    clear: both;
    width:240px;
    height: 236px;
    margin: 0 auto;
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_tx_bor.png) 50% 50% no-repeat;
    background-size: 240px auto;
}*/
.wedding_tit{
    display: block;
    clear: both;
    height:36px;
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_wedding.png) center no-repeat;
    background-size: 188px auto;
    margin:30px auto;
    -webkit-animation: fadeInLeft 1s .2s linear infinite;
    -moz-animation: fadeInLeft 1s .2s linear infinite;
    -o-animation: fadeInLeft 1s .2s linear infinite;
    -ms-animation: fadeInLeft 1s .2s linear infinite;
    animation: fadeInLeft 1s .2s linear infinite;
}
@-webkit-keyframes fadeInLeft {
    0% {-webkit-transform: translateX(5px);opacity: 0.7;}
    50% {-webkit-transform: translateX(-5px); opacity: 1;}
    100% {-webkit-transform: translateX(5px);opacity: 0.7;}
}
@-moz-keyframes fadeInLeft {
    0% {-moz-transform: translateX(0);opacity: 0.7;}
    50% {-moz-transform: translateX(-5px); opacity: 1;}
    100% {-moz-transform: translateX(0);opacity: 0.7;}
}

@-o-keyframes fadeInLeft {
    0% {-o-transform: translateX(0);opacity: 0.7;}
    50% {-o-transform: translateX(-5px); opacity: 1;}
    100% {-o-transform: translateX(0);opacity: 0.7;}
}
@-ms-keyframes fadeInLeft {
    0% {-ms-transform: translateX(0);opacity: 0.7;}
    50% {-ms-transform: translateX(-10px); opacity: 1;}
    100% {-ms-transform: translateX(0);opacity: 0.7;}
}

@keyframes fadeInLeft {
    0% {transform: translateX(5px);opacity: 0.7;}
    50% {transform: translateX(-5px); opacity: 1;}
    100% {transform: translateX(5px);opacity: 0.7;}
}

.newman{
    clear: both;
    margin:50px auto 0px auto;
    height:57px;
    font-size:18px;
    color:#010101;
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_splite.png) center bottom no-repeat;
    background-size: 300px auto;
    -webkit-animation: fadeInDown 1s .2s linear 2;
    -moz-animation: fadeInDown 1s .2s linear 2;
    -o-animation: fadeInDown 1s .2s linear 2;
    -ms-animation: fadeInDown 1s .2s linear 2;
    animation: fadeInDown 1s .2s linear 2;
}
.color_pink{color:#e41d6c;}
.splite{
    clear: both;
    height:47px;
    margin:10px auto;
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_splite.png) center no-repeat;
    background-size: 300px auto;
}
.wedding_title{
    clear: both;
    height:22px;
    line-height:22px;
    color:#fff;
    font-size:16px;
    margin:8% auto 20px auto;
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_tit.png) center bottom no-repeat;
    background-size: 166px auto;
}
/*4th*/
.box_4th{
    clear:both;
    background:#fff;
    width:280px;
    margin:0px auto;
    padding:20px 10px;
    overflow:hidden;
}
.ul_phone ul{
    clear:both;
    width:260px;
    margin:0px auto;
    padding:0px;
}
.ul_phone li{
    clear:both;
    width:240px;
    height:30px;
    clear:both;
    margin:0px auto;
    list-style:none;
    padding:0px;
    text-align:left;
}
.ul_phone li i{
    float:left;
    width:22px;
    height:30px;
    margin:3px auto;
    overflow:hidden;

}
.ul_phone li.man i{
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_tx_small.png) no-repeat 0 0;
    background-size:22px auto;
}
.ul_phone li.woman i{
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_tx_small.png) no-repeat 0 -30px;
    background-size:22px auto;
}
.ul_phone li .phone_num{
    float:right;
    width:210px;
    height:30px;
    line-height:30px;
    border:1px #f7bbd3 solid;
    border-radius:20px;
    padding-left:10px;
}
.ul_phone li .phone_num a{
    float:right;
    height:28px;
    line-height:28px;
    display:inline-block;
    color:#fff;
    background:#e41d6c;
    border-radius: 0px 20px 20px 0px;
    padding:0px 10px;
    text-align:center;
}
.wedding_info{
    clear:both;
    text-align:center;
    margin:20px auto;
}
.wedding_btn{
    clear:both;
    width:188px;
    height:30px;
    line-height:30px;
    color:#fff;
    font-size:14px;
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_btn.png) no-repeat;
    background-size:188px 30px;
    margin:0px auto;
    position:relative;
}
.wedding_btn a{color:#fff;}
.wedding_btn em{
    position:absolute;
    top:-15px;
    left:15px;
    width:22px;
    height:25px;
    background:url(http://curarchy.github.io/webresources/img/weddingpic/29_map_ico.png) no-repeat;
    background-size:20px 22px;
    -webkit-animation: fadeInDown 1s .3s linear infinite;
    -moz-animation: fadeInDown 1s .3s linear infinite;
    -o-animation: fadeInDown 1s .3s linear infinite;
    -ms-animation: fadeInDown 1s .3s linear infinite;
    animation: fadeInDown 1s .3s linear infinite;
}
@-webkit-keyframes fadeInDown {
    0% {-webkit-transform: translateY(0);opacity: 0.6;}
    50% {-webkit-transform: translateY(-5px); opacity: 1;}
    100% {-webkit-transform: translateY(0);opacity: 0.5;}
}
@-moz-keyframes fadeInDown {
    0% {-moz-transform: translateY(0);opacity: 0.6;}
    50% {-moz-transform: translateY(-5px); opacity: 1;}
    100% {-moz-transform: translateY(0);opacity: 0.5;}
}

@-o-keyframes fadeInDown {
    0% {-o-transform: translateY(0);opacity: 0.6;}
    50% {-o-transform: translateY(-5px); opacity: 1;}
    100% {-o-transform: translateY(0);opacity: 0.5;}
}
@-ms-keyframes fadeInDown {
    0% {-ms-transform: translateY(0);opacity: 0.6;}
    50% {-ms-transform: translateY(-5px); opacity: 1;}
    100% {-ms-transform: translateY(0);opacity: 0.5;}
}

@keyframes fadeInDown {
    0% {transform: translateY(0);opacity: 0.6;}
    50% {transform: translateY(-5px); opacity: 1;}
    100% {transform: translateY(0);opacity: 0.5;}
}

.word_area{
    clear:both;
    width:240px;
    background:url(http://curarchy.github.io/webresources/img/weddingpic/29_bor_bg.png) repeat;
    padding:5px;
    margin:40px auto 25px auto;
    position:relative;
    text-align:left;
}
.word_in{
    background:#fff;
    padding:10px;
}
.word_ico{
    position:absolute;
    width:25px;
    height:45px;
    top:-25px;
    right:0px;
    background:url(http://curarchy.github.io/webresources/img/weddingpic/29_word_ico.png) repeat;
    background-size:25px auto;
 }
 /*5th*/
/* .photo_area{
    height:100%;
    background:url(http://curarchy.github.io/webresources/img/weddingpic/29_photo.png) center no-repeat;
    background-size:100% auto;
    position: relative;
 }*/
 .ph_radius{
    width:102px;
    height:102px;
    border:#f78cae 1px solid;
    border-radius:50%;
    position:absolute;
    bottom:170px;
    left:50%;
    margin-left:-51px;
    padding:4px;
 }
 .radius_in{
    display:block;
    width:92px;
    height:92px;
    color:#fff;
    font-size:12px;
    background:#e41e6d;
    border-radius:50%;
    text-align:center;
    padding:15px 0px;
 }
  .radius_in h2{
    font-size:14px;
    font-weight:normal;
    margin:0px;
    padding:5px 0px 10px 0px;
}
/*  .radius_in i{
    display:block;
    width:56px;
    height:8px;
    background:url(http://curarchy.github.io/webresources/img/weddingpic/29_arrow_ph.png) no-repeat;
    margin:0px auto 0px auto;
}*/
 /*6th*/
.wish_area{
    width:220px;
    margin:0px auto;
    padding:0px 0px 0px 0px;
}
.wish_area ul{
    clear:both;
    margin:0px auto;
    padding:0px;
}
.wish_area .ul_three li{
    float:left;
    padding:0px;
    margin:0px;
}
.wish_area .ul_three li a{
    display:block;
    width:90px;
    height:30px;
    line-height:30px;
    background:#fc718d;
    color:#fff;
}
.ul_three li:nth-child(2){float:left;margin:0px 10px 0px 18px;}
.ul_three li:last-child{float:right;}
.ul_three li a:hover,.ul_three li a.active{
    height:30px;
    line-height:24px;
    color:#be1357;
    background:#fff;
    border:3px #fc718d solid;
}
.wish_btn{
    clear:both;
    width:220px;
    height:30px;
    line-height:30px;
    color:#fff;
    font-size:14px;
    background: url(http://curarchy.github.io/webresources/img/weddingpic/29_btn.png) no-repeat;
    background-size:220px 30px;
    margin:0px auto;
    text-align:center;
}
.wish_btn a{
    color:#fff;
}
.fname{
   clear:both;
   border:1px #cbcbcb solid;
   background:#fff;
   margin:10px auto;
}
.fname input{
   border:0;
   width:150px;
   height:28px;
}
.fname span{
   display:inline-block;
   width:60px;
   border-left:1px #cbcbcb solid;
   float:right;
   height:28px;
   line-height:28px;
   background:#ededed;

}
.fname:after,
.wish_area ul:after{/*line-height: 0; height: 0px; clear: both; font-size: 0px;*/visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.send_wishes{clear:both;}
.send_wishes .send_tit{
   width:76px;
   height:24px;
   line-height:24px;
   color:#fff;
   background:#e41d6c;
   border-radius:4px;
   margin:10px 0px 10px 0px;
    position: relative;
}
.send_tit:after{
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        margin-bottom: -4px;
        margin-right: 41px;
        border-left: 5px solid transparent;
        border-top: 5px solid #e41d6c;
        border-right: 5px solid transparent;
}
.wish_area textarea{
        width:220px;
        min-height:50px;
        margin-bottom:10px;
}
.create{
    width:90px;
    height:90px;
    border:#f4a9ca 1px solid;
    border-radius:50%;
    margin:0px auto;
    padding:4px;

 }
/*.ph_radius a,
.create a{
     -webkit-transform-style:preserve-3d;
     -webkit-animation-name:x-spin;
     -webkit-animation-duration:2s;
     -webkit-animation-iteration-count:infinite;
     -webkit-animation-timing-function:linear;
}*/

 @-webkit-keyframes x-spin {
 0% { -webkit-transform:rotate(0deg) scale(1.0)}
 20% { -webkit-transform:rotate(120deg) scale(1.1); }
 40% { -webkit-transform:rotate(240deg) scale(1.1); }
 60% { -webkit-transform:rotate(360deg) scale(1.1); }
 100% { -webkit-transform:rotate(360deg) scale(0.9)}
}
 @-moz-keyframes x-spin {
 0% { -webkit-transform:rotate(0deg) scale(1.0)}
 20% { -webkit-transform:rotate(120deg) scale(1.1); }
 40% { -webkit-transform:rotate(240deg) scale(1.1); }
 60% { -webkit-transform:rotate(360deg) scale(1.1); }
 100% { -webkit-transform:rotate(360deg) scale(0.9)}
}
 @-o-keyframes x-spin {
 0% { -webkit-transform:rotate(0deg) scale(1.0)}
 20% { -webkit-transform:rotate(120deg) scale(1.1); }
 40% { -webkit-transform:rotate(240deg) scale(1.1); }
 60% { -webkit-transform:rotate(360deg) scale(1.1); }
 100% { -webkit-transform:rotate(360deg) scale(0.9)}
}
 @-ms-keyframes x-spin {
 0% { -webkit-transform:rotate(0deg) scale(1.0)}
 20% { -webkit-transform:rotate(120deg) scale(1.1); }
 40% { -webkit-transform:rotate(240deg) scale(1.1); }
 60% { -webkit-transform:rotate(360deg) scale(1.1); }
 100% { -webkit-transform:rotate(360deg) scale(0.9)}
}
 keyframes x-spin {
 0% { -webkit-transform:rotate(0deg) scale(1.0)}
 20% { -webkit-transform:rotate(120deg) scale(1.1); }
 40% { -webkit-transform:rotate(240deg) scale(1.1); }
 60% { -webkit-transform:rotate(360deg) scale(1.1); }
 100% { -webkit-transform:rotate(360deg) scale(0.9)}
}

.create_in{
    display:block;
    width:80px;
    height:80px;
    color:#fff;
    font-size:12px;
    background:#e41e6d;
    border-radius:50%;
    text-align:center;
    padding:25px 0px 5px 0px;
 }
.create i{
    display:block;
    width:31px;
    height:10px;
    background:url(http://curarchy.github.io/webresources/img/weddingpic/29_arrow_create.png) no-repeat;
    background-size:31px auto;
    margin:10px auto 0px auto;

}
